
body {
  margin: 0;
  padding: 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    padding: 10px 20px; 
    background-color: #bdbb33;
  }
  .logo img {
    height: 85px; 
    width: auto;
    margin-right: 1px;
    margin-top: 5px; 
  }
 
  .ngo-name {
    height: auto;
    width: 300px;
    /* width: 50%; */

  }
  
  .header-links {
    display: flex;
    margin-right: 10px; 
  }
  
  .header-link {
    margin-right: 50px; 
    /* font-weight: 600; */
  }
  
  .donate-button {
    /* background-color: rgba(0, 0, 0, 0.1); */
    background-color: white;
    color: black;
    padding: 8px 20px;
    margin-left: 150px;
    border:1px solid black;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 50px; 
  }
  .donate-button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Button background color on hover */
  }
  .search-bar {
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    /* margin-right: 20px; Add margin to separate search bar from the button */
    /* transition: background-color 0.3s; */
  }

  .search-bar:hover {
    background-color: white; 
  }
  
  .header-links {
    display: flex;
    align-items: center;
  }
  
  .header-link {
    text-decoration: none; 
    color: black; 
    margin: 0 20px; 
    transition: color 0.3s; /* Smooth color transition on hover */
  }
  
  .header-link:hover {
    color: white; 
  }
  