/* Header.css */
body {
  margin: 0;
  padding: 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    padding: 10px 20px; 
    background-color: #bdbb33;
  }
  .logo img {
    height: 55px; /* Set the height of the logo image */
    margin-right: 5px;
    margin-top: 5px; /* Add margin for spacing between logo and text */
  }
  .ngo-name {
    font-weight: bold;
    margin-right: 120px; /* Add a margin to create a gap */
    font-size: 40px; /* Adjust the size as needed */
    /* text-shadow: -2px 0 #928a8a, 0 2px #928a8a, 2px 0 #928a8a, 0 -2px #928a8a; */
    color: black;

  }
  
  .header-links {
    display: flex;
    margin-right: 10px; /* Add margin to separate links from the button */
  }
  
  .header-link {
    margin-right: 50px; 
    /* font-weight: 600; */
  }
  
  .donate-button {
    background-color: rgba(0, 0, 0, 0.1); /* Example button styling */
    color: black;
    padding: 8px 20px;
    border:1px solid black;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 50px; /* Add margin to separate button from the search bar */
  }
  .donate-button:hover {
    background-color: white; /* Button background color on hover */
  }
  .search-bar {
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 20px; /* Add margin to separate search bar from the button */
    transition: background-color 0.3s;
  }

  .search-bar:hover {
    background-color: white; /* Change background color to gray on hover */
  }
  
  .header-links {
    display: flex;
    align-items: center;
  }
  
  .header-link {
    text-decoration: none; /* Remove the underline */
    color: black; /* Set the default text color to black */
    margin: 0 20px; /* Add spacing between the links */
    transition: color 0.3s; /* Smooth color transition on hover */
  }
  
  .header-link:hover {
    color: white; /* Change text color to white on hover */
  }
  