.home {
  position: relative;
  background-image: url('../images/ngo4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;

}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; 
  font-size: 24px; 
}

.background-overlay {
  position: absolute;
  top: 38%;
  left: 25%;
  width: 50%;
  height: 23%;
  background-color: rgba(0, 0, 0, 0.4); 
}

.home-text {
  margin-bottom: 20px; 
  font-size: 30px; 
}

.read-more-button {
  padding: 8px 20px; 
  position: absolute;
  background-color: #bdbb33; 
  color: white; 
  border: solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.read-more-button:hover {
  background-color: grey; 
}
